body,
html {
  padding: 24px !important;
  text-align: center !important;
}

.hidden {
  display: none !important;
}

.title {
  font-family: 'Poppins' !important;
}

.upload {
  max-width: 496px !important;
  max-height: 496px !important;
  height: 496px !important;
  width: 496px !important;
  /*background-color: #cecece;*/
  margin: auto !important;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  font-size: 24px;
}

.canvas-container {
  position: relative !important;
  border: solid 2px #102337;
  margin: auto !important;
  max-width: 502px !important;
  max-height: 502px !important;
  height: 502px !important;
  width: 502px !important;
  min-height: 502px !important;
  min-width: 502px !important;
}

.instructions,
.stickers {
  max-width: 502px;
  width: 502px;
  margin: auto !important;
}

.canvas-column {
  max-width: 506px !important;
  padding: 0px !important;
}

.instructions h5 {
  margin-bottom: 6px !important;
  margin-top: 6px !important;
}

.sticker button {
  margin-top: 12px;
}

.layers {
  max-height: calc(506px - 30px - 12px) !important;
  overflow-y: auto;
}

.layers .box {
  width: 100%;
  margin: 0px !important;
  border-radius: 0px;
}

.layers-container {
  max-height: 506px !important;
  width: 100% !important;
  background-color: rgb(240, 240, 240);
  padding: 12px 0px 0px 0px !important;
}

.editor {
  width: calc(496px * 2);
  margin: auto !important;
}

#download {
  background-color: #102337 !important;
  color: white !important;
  width: 506px;
  max-width: 506px;
}

#deselect {
  width: 506px;
  max-width: 506px;
}
